a.add_parent_child_selector:link {
	color: #122ed9;
	left: 199px;
	position: absolute;
	text-decoration: none;
	top: 149px;
}

a.add_parent_child_selector:visited {
	color: #122ed9;
	left: 199px;
	position: absolute;
	text-decoration: none;
	top: 149px;
}

a.add_parent_child_selector:hover {
	color: #122ed9;
	text-decoration: underline;
}

a.add_parent_link:link {
    color: #122ed9;
    left: 870px;
    position: absolute;
    text-decoration: none;
    top: 38px;
}

a.add_parent_link:visited {
    color: #122ed9;
    left: 870px;
    position: absolute;
    text-decoration: none;
    top: 38px;
}

a.add_parent_link:hover {
    color: #122ed9;
    text-decoration: underline;
}

a.add_parent_relative_selector:link {
	color: #122ed9;
	left: 694px;
	position: absolute;
	text-decoration: none;
	top: 149px;
}

a.add_parent_relative_selector:visited {
	color: #122ed9;
	left: 694px;
	position: absolute;
	text-decoration: none;
	top: 149px;
}

a.add_parent_relative_selector:hover {
	color: #122ed9;
	text-decoration: underline;
}

.add_guardian_of_label {
	left: 670px;
	position: absolute;
	top: 149px;
}

.add_parent_child_button {
	height: 30px;
	left: 450px;
	position: absolute;
	top: 144px;
}

.add_parent_child_delete_button {
	height: 30px;
}

.add_parent_child_list_student {
    display: none;
}

.add_parent_child_list_student a.list_student_next_twenty:link {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 1530px;
}

.add_parent_child_list_student a.list_student_next_twenty:visited {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 1530px;
}

.add_parent_child_list_student a.list_student_next_twenty:hover {
    color: #122ed9;
    text-decoration: underline;
}

.add_parent_child_list_student .list_student_next_twenty_wait {
    display: none;
    left: 50%;
    position: absolute;
    top: 1530px;
}

.add_parent_child_list_student .list_student_create {
    display: none;
}

.add_parent_child_list_student .list_student_delete {
    display: none;
}

.add_parent_child_list_student .list_student_edit {
    display: none;
}

.add_parent_child_list_student .student_list {
    display: none;
    height: 1420px;
    left: 8px;
    overflow: auto;
    position: absolute;
    top: 90px;
    width: 1000px;
}

.add_parent_child_selector_wait {
	display: none;
	left: 224px;
	position: absolute;
	top: 153px;
}

.add_parent_child_table_container {
	height: 200px;
    left: 18px;
    overflow: auto;
    position: absolute;
    top: 187px;
    width: 490px;
}

.add_parent_child_table_relationship {
	width: 150px;
}

.add_parent_child_table_selector {
	width: 271px;
}

.add_parent_child_table_selector a:link {
	color: #122ed9;
	text-decoration: none;
}

.add_parent_child_table_selector a:visited {
	color: #122ed9;
	text-decoration: none;
}

.add_parent_child_table_selector a:hover {
	color: #122ed9;
	text-decoration: underline;
}

.add_parent_child_table_selector_wait {
	display: none;
}

.add_parent_deceased_label {
	left: 380px;
	position: absolute;
	top: 37px;
}

#add_parent_deceased_toggle {
    left: 355px;
    position: absolute;
    top: 38px;
}

.add_parent_email {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 20px;
    position: absolute;
    top: 73px;
    width: 130px;
}

.add_parent_email_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 22px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 59px;
}

.add_parent_first_name {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 20px;
    position: absolute;
    top: 35px;
    width: 130px;
}

.add_parent_first_name_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 22px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 21px;
}

.add_parent_first_name_required_ind {
    color: #dc1d38;
    font-size: 0.56em;
    left: 11px;
    position: absolute;
    top: 40px;
}

.add_parent_guardian_of_label {
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    left: 515px;
    position: absolute;
    top: 111px;
    width: 475px;
}

.add_parent_last_name {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 180px;
    position: absolute;
    top: 35px;
    width: 130px;
}

.add_parent_last_name_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 182px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 21px;
}

.add_parent_link_wait {
    display: none;
    left: 920px;
    position: absolute;
    top: 42px;
}

.add_parent_of_label {
	left: 175px;
	position: absolute;
	top: 149px;
}

.add_parent_parent_of_label {
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    left: 20px;
    position: absolute;
    top: 111px;
    width: 475px;
}

.add_parent_primary_phone {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 355px;
    position: absolute;
    top: 73px;
    width: 200px;
}

.add_parent_primary_phone_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 357px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 59px;
}

.add_parent_profession {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 180px;
    position: absolute;
    top: 73px;
    width: 130px;
}

.add_parent_profession_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 182px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 59px;
}

.add_parent_relationship {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 515px;
    position: absolute;
    top: 146px;
    width: 130px;
}

.add_parent_relationship_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 517px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 132px;
}

.add_parent_relationship_list {
    font-size: 1.3em;
    left: 20px;
    position: absolute;
    top: 149px;
}

.add_parent_relative_button {
	height: 30px;
	left: 947px;
	position: absolute;
	top: 144px;
}

.add_parent_relative_delete_button {
	height: 30px;
}

.add_parent_relative_list_student {
    display: none;
}

.add_parent_relative_list_student a.list_student_next_twenty:link {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 1530px;
}

.add_parent_relative_list_student a.list_student_next_twenty:visited {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 1530px;
}

.add_parent_relative_list_student a.list_student_next_twenty:hover {
    color: #122ed9;
    text-decoration: underline;
}

.add_parent_relative_list_student .list_student_next_twenty_wait {
    display: none;
    left: 50%;
    position: absolute;
    top: 1530px;
}

.add_parent_relative_list_student .list_student_create {
    display: none;
}

.add_parent_relative_list_student .list_student_delete {
    display: none;
}

.add_parent_relative_list_student .list_student_edit {
    display: none;
}

.add_parent_relative_list_student .student_list {
    display: none;
    height: 1420px;
    left: 8px;
    overflow: auto;
    position: absolute;
    top: 90px;
    width: 1000px;
}

.add_parent_relative_selector_wait {
	display: none;
	left: 720px;
	position: absolute;
	top: 153px;
}

.add_parent_relative_table_container {
	height: 200px;
    left: 515px;
    overflow: auto;
    position: absolute;
    top: 187px;
    width: 490px;
}

.add_parent_relative_table_relationship {
	width: 150px;
}

.add_parent_relative_table_selector {
	width: 271px;
}

.add_parent_relative_table_selector a:link {
	color: #122ed9;
	text-decoration: none;
}

.add_parent_relative_table_selector a:visited {
	color: #122ed9;
	text-decoration: none;
}

.add_parent_relative_table_selector a:hover {
	color: #122ed9;
	text-decoration: underline;
}

.add_parent_relative_table_selector_wait {
	display: none;
}

.add_parent_secondary_phone {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 620px;
    position: absolute;
    top: 73px;
    width: 200px;
}

.add_parent_secondary_phone_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 622px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 59px;
}

.add_parent_village {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 620px;
    position: absolute;
    top: 35px;
    width: 130px;
}

.add_parent_village_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 622px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 21px;
}

.required_symbol {
    color: #dc1d38;
    font-size: 0.56em;
    left: 11px;
    position: absolute;
    top: 400px;
}

.required_text {
    font-size: 0.88em;
    font-style: italic;
    left: 20px;
    position: absolute;
    top: 395px;
}