a.add_school_link:link {
    color: #122ed9;
    left: 870px;
    position: absolute;
    text-decoration: none;
    top: 38px;
}

a.add_school_link:visited {
    color: #122ed9;
    left: 870px;
    position: absolute;
    text-decoration: none;
    top: 38px;
}

a.add_school_link:hover {
    color: #122ed9;
    text-decoration: underline;
}

.add_school_class {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 355px;
    position: absolute;
    top: 35px;
    width: 130px;
}

.add_school_class_button {
    height: 30px;
    left: 490px;
    position: absolute;
    top: 35px;
}

.add_school_class_button_wait {
    display: none;
    left: 500px;
    position: absolute;
    top: 39px;
}

.add_school_class_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 357px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 21px;
}

.add_school_classes {
    height: 300px;
    left: 355px;
    overflow: auto;
    position: absolute;
    top: 115px;
    width: 500px;
}

.add_school_classes label {
	margin-bottom: 5px;
	margin-right: 5px;
}

.add_school_classes_label {
    left: 355px;
    position: absolute;
    top: 75px;
}

.add_school_decrement_class_level_left {
	cursor: pointer;
	left: 310px;
	position: absolute;
	top: 110px;
}

.add_school_decrement_class_level_right {
	cursor: pointer;
	left: 865px;
	position: absolute;
	top: 110px;
}

.add_school_delete_class_left {
	cursor: pointer;
	left: 310px;
	position: absolute;
	top: 230px;
}

.add_school_delete_class_right {
	cursor: pointer;
	left: 865px;
	position: absolute;
	top: 230px;
}

.add_school_increment_class_level_left {
	cursor: pointer;
	left: 310px;
	position: absolute;
	top: 170px;
}

.add_school_increment_class_level_right {
	cursor: pointer;
	left: 865px;
	position: absolute;
	top: 170px;
}

.add_school_disabled {
	cursor: default;
	opacity: 0.2;
}

.add_school_link_wait {
    display: none;
    left: 920px;
    position: absolute;
    top: 42px;
}

.add_school_name {
    border: 0;
    color: #9b9898;
    font-style: italic;
    left: 20px;
    position: absolute;
    top: 35px;
    width: 200px;
}

.add_school_name_label {
    background-color: #e7c6a5;
    font-size: 0.56em;
    display: none;
    left: 22px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 21px;
}

.add_school_name_required_ind {
    color: #dc1d38;
    font-size: 0.56em;
    left: 11px;
    position: absolute;
    top: 40px;
}

.required_symbol {
    color: #dc1d38;
    font-size: 0.56em;
    left: 11px;
    position: absolute;
    top: 400px;
}

.required_text {
    font-size: 0.88em;
    font-style: italic;
    left: 20px;
    position: absolute;
    top: 395px;
}