a.list_urfuser_admin_privilege_label:link {
    color: #122ed9;
    left: 685px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_urfuser_admin_privilege_label:visited {
    color: #122ed9;
    left: 685px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_urfuser_admin_privilege_label:hover {
    color: #122ed9;
    text-decoration: underline;
}

a.list_urfuser_email_label:link {
    color: #122ed9;
    left: 25px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_urfuser_email_label:visited {
    color: #122ed9;
    left: 25px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_urfuser_email_label:hover {
    color: #122ed9;
    text-decoration: underline;
}

a.list_urfuser_next_twenty:link {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 640px;
}

a.list_urfuser_next_twenty:visited {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 640px;
}

a.list_urfuser_next_twenty:hover {
    color: #122ed9;
    text-decoration: underline;
}

a.list_urfuser_prev_twenty:link {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 65px;
}

a.list_urfuser_prev_twenty:visited {
    color: #122ed9;
    font-size: 0.8em;
    left: 444px;
    position: absolute;
    text-decoration: none;
    top: 65px;
}

a.list_urfuser_prev_twenty:hover {
    color: #122ed9;
    text-decoration: underline;
}

a.list_urfuser_sponsor_data_privilege_label:link {
    color: #122ed9;
    left: 410px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_urfuser_sponsor_data_privilege_label:visited {
    color: #122ed9;
    left: 410px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_urfuser_sponsor_data_privilege_label:hover {
    color: #122ed9;
    text-decoration: underline;
}

.actions_label {
    left: 915px;
    position: absolute;
    top: 35px;
}

div.list_urfuser_admin_privilege {
    left: 675px;
    position: absolute;
    top: 8px;
}

div.list_urfuser_sponsor_data_privilege {
    left: 400px;
    position: absolute;
    top: 8px;
}

.list_urfuser_school_data_privilege {
    left: 16px;
    position: absolute;
}

.list_urfuser_school_data_privilege fieldset {
    border: 1px solid #9b9898;
}

.list_urfuser_school_data_privilege label {
    display: none;
}

.list_urfuser_school_data_privilege legend {
    font-size: 0.8em;
}

.list_urfuser_cancel {
    display: none;
    height: 30px;
    left: 930px;
    position: absolute;
    top: 14px;
}

.list_urfuser_delete {
    height: 30px;
    left: 930px;
    position: absolute;
    top: 14px;
}

.list_urfuser_details {
    height: 200px;
    position: relative;
}

.list_urfuser_edit {
    height: 30px;
    left: 885px;
    position: absolute;
    top: 14px;
}

.list_urfuser_email {
    left: 30px;
    position: absolute;
    top: 8px;
}

.list_urfuser_next_twenty_wait {
    display: none;
    left: 50%;
    position: absolute;
    top: 640px;
}

.list_urfuser_prev_twenty_wait {
    display: none;
    left: 50%;
    position: absolute;
    top: 65px;
}

.list_urfuser_save {
    display: none;
    height: 30px;
    left: 885px;
    position: absolute;
    top: 14px;
}

.list_urfuser_save_wait {
    display: none;
    left: 920px;
    position: absolute;
    top: 22px;
}

select.list_urfuser_admin_privilege {
    display: none;
    left: 668px;
    position: absolute;
    top: 7px;
}

select.list_urfuser_sponsor_data_privilege {
    display: none;
    left: 393px;
    position: absolute;
    top: 7px;
}

.urfuser_list {
    height: 540px;
    left: 8px;
    overflow: auto;
    position: absolute;
    top: 90px;
    width: 1000px;
}

.urfuser_list h3 {
	height: 22px;
}