a.list_leave_reason_category_label:link {
    color: #122ed9;
    left: 20px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_leave_reason_category_label:visited {
    color: #122ed9;
    left: 20px;
    position: absolute;
    text-decoration: none;
    top: 35px;
}

a.list_leave_reason_category_label:hover {
    color: #122ed9;
    text-decoration: underline;
}

.actions_label {
    left: 915px;
    position: absolute;
    top: 35px;
}

.leave_reason_category_list {
    height: 580px;
    left: 15px;
    overflow: auto;
    position: absolute;
    top: 70px;
}

.leave_reason_category_list table {
    border-collapse: collapse;
    width: 975px;
}

.leave_reason_category_list table tr td {
    vertical-align: middle;
}

.leave_reason_category_list_tr {
	background-color: transparent;
	border-color: transparent;
	border-left-style: dotted;
	border-left-width: 5px;
}

.leave_reason_category_list_tr_hover {
	background-color: #e6f2ff;
	border-color: #006bcb;
	border-left-style: solid;
	border-left-width: 5px;
}

.list_leave_reason_category_delete {
    height: 30px;
}